#container {
  background-color: rgb(87, 133, 12);
  font-family: sans-serif;
  background-image: url("../images/22db16f0-a04c-431c-80a5-5f46174badf9.jpg");
  padding: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(133, 12, 12);
}

header nav ul {
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  padding: 5px;
  color: rgb(26, 221, 42);
  display: flex; 
  align-items: center;
  justify-content: space-between;
}
#landingpage {
  height: 1080px;
  background-image: url("../images/image1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 5px;
}
#master {
  background-color: rgba(68, 55, 55, 0.6);
  text-align: center;
  box-shadow: 2px 4px 8px rgb(95, 87, 87);
  border: 50px;
  border-radius: 7px;
  margin: 0 60px;
  padding: 50px 0;
  position: relative;
  top: 200px;
}
#master h1 {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}
#master p {
  color: white;
  text-transform: uppercase;
  padding: 12px;
}
#master a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  background-color: rgb(238, 210, 3);
  padding: 12px 12px;
  color: black;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 57, 57);
}
#master a:hover {
  background-color: rgb(196, 196, 61);
}

