#hero {
  color: rgb(213, 223, 124);
  background-image: url("../images/download\ \(1\).jpg");
}
#nyabila {
  background-image: url("../images/103e59ca-b2f3-40b7-a183-7cb016ff51fa.jpg");
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
  color: rgb(71, 62, 62);
}
a {
  padding: 1px;
  color: rgb(78, 13, 5);
  font-size: 18px;
  border-radius: 4px;
  margin: 30px o;
}
a:hover {
  background-color: rgb(180, 12, 90);
  text-decoration: none;
}
ul {
  list-style: none;
  width: 450px;
  margin: 32px auto 0 auto;
  padding: 0;
}
li {
  background-color: rgb(223, 136, 124);
  border-radius: 6px;
  margin: 26px;
  padding: 16px;
  box-shadow: 5px 5px 5px rgba(71, 62, 62, 0.2);
}
.important-style {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  margin: 50px;
  padding: 50px;
}
